<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<pre>
1.Приложение будет рассчитано на любой возраст
2.Приложение будет на подобий aliexpress
3.Встречать сайт будет окном регистрации или войти в уже имеющийся аккаунт дальше перекидывать на страницу с товаром который можем загрузить мы или посмотреть уже имеющийся при нажатии на товар будет выходить описание товара и его состояние оценки и комментарии
4. https://aliexpress.ru/?gatewayAdapt=glo2rus,https://uz.wildberries.ru/
</pre>
</body>
</html>